<h1>My lists</h1>
<ul>
 <% @lists.each do |list| %>
   <li> <%= link_to list.name, list_path(list) %> </li>
    <% end %>
</ul>

<%# // BUTTON // %>
<button type="button" class="btn btn-primary text-white"><%= link_to 'Create a movie list', new_list_path %></button>
